{
	debug
	order s3_proxy last
}

:2015 {
    log

    route /health {
        respond 200
    }

    s3_proxy {
        aws_endpoint http://localhost:4577
        bucket example-bucket
        use_path_style true
    }
}